// https://tailwindcss.com/docs/customizing-colors
// PrimaryColor
$blue: #2563eb;
$darkblue: #1e40af;
$lightblue: #60a5fa;
// SecondaryColor
$pink: #db2777;
$darkpink: #9d174d;
$lightpink: #f472b6;

$error: #ef4444;
$success: #10b981;
